<div *ngFor="let component of pageData; let i = index;">
  <app-navigation [type]="component.subType" *ngIf="component.type === 'navigation'"></app-navigation>
  <app-contact-us [type]="component.subType" *ngIf="component.type === 'contact-us'"></app-contact-us>
  <app-cta [type]="component.subType" *ngIf="component.type === 'call-to-action'"></app-cta>
  <app-content [type]="component.subType" *ngIf="component.type === 'content'"></app-content>
  <app-features [type]="component.subType" *ngIf="component.type === 'features'"></app-features>
  <app-footer [type]="component.subType" *ngIf="component.type === 'footer'"></app-footer>
  <app-form [type]="component.subType" *ngIf="component.type === 'form'"></app-form>
  <app-pricings [type]="component.subType" *ngIf="component.type === 'pricings'"></app-pricings>
  <app-team [type]="component.subType" *ngIf="component.type === 'team'"></app-team>
  <app-testimonials [type]="component.subType" *ngIf="component.type === 'testimonials'"></app-testimonials>
</div>